@import '~hds-design-tokens/lib/all.scss';

.feedbackForm {
  &Page {
    padding-top: $spacing-xl;
    
    &.maxWidth {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &Container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: $spacing-3-xl;
  }

  &ControlGrid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: $spacing-m;
  }
}
