.h1 {
  font-size: var(--fontsize-h-2);
  color: var(--color-black-90);
}

.h2 {
  margin-bottom: var(--spacing-m);

  font-size: var(--fontsize-h-3);
  color: var(--color-black-90);
}

.p {
  font-size: var(--fontsize-body-medium);
  line-height: var(--lineheight-l);
  color: var(--color-black-80);
}

.h1:first-child,
.h2:first-child,
.p:first-child {
  margin-top: 0;
}
.h1:last-child,
.h2:last-child,
.p:last-child {
  margin-bottom: 0;
}
